{
	"semi": true,
	"singleQuote": false,
	"trailingComma": "none",
	"tabWidth": 4,
	"bracketSpacing": true,
	"useTabs": true,
	"arrowParens": "avoid",
	"printWidth": 150,
	"proseWrap": "never",
	"endOfLine": "lf"
}
