.myBubbleUI {
	width: 100%;
	max-width: 100vw;
	height: 540px;
	border-radius: 50px;
}

.tooltip {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	color: #000;
	padding: 5px 10px;
	width: max-content;
	border-radius: 4px;
	display: none;
	z-index: 5;
}

.bubble-hover .tooltip {
	display: block;
}
